<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="consoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg %n</Pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="fileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${user.dir}\javalab\resources\logs\log_%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss} %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>
    <logger name="filters.Logger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
    </logger>
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>