body {
    background: url("../../static/img/backsmoke.png") scroll center;
    background-size: cover;
    color: #ff6800;
    font-family: 'Proxima Nova Rg', sans-serif;
    overflow-x: hidden;
}

h1, h2, h4 {
    font-weight: bold;
    font-size: 72px;
    color: white;
}

a {
    color: #FFFFFF;
    font-size: 24px;
}

a:hover {
    color: #ff6800;
}

.btn {
    background: linear-gradient(270deg, #ff7700 16.12%, #ff6800 69.22%);
    box-shadow: 0px 8px 60px rgba(255, 156, 22, 0.5);
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 60px;
    border-radius: 90px;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.btn:hover {
    background: linear-gradient(270deg, #ff6800 16.12%, #ff7700 69.22%);
}

.center {
    text-align: center;
}